{
    'printWidth': 100,
    'singleQuote': true,
    'trailingComma': 'all',
    'quoteProps': 'preserve',
    'bracketSpacing': true,
    'bracketSameLine': false,
    'arrowParens': 'avoid',
    'embeddedLanguageFormatting': 'off',
}
